In [1]:
import pandas as pd

In [31]:
# List available datasets
ctry_faostat = pd.read_csv('data/faostat/countries_list.csv')
ctry_geojson = pd.read_csv('data/geometry/countries_names.csv')

In [32]:
ctry_faostat.sort_values(by='0',inplace=True)

In [41]:
ctry_faostat = pd.DataFrame({'geounit':[x[0] for x in ctry_faostat.values]})
ctry_faostat

                                geounit
0                           Afghanistan
1                               Albania
2                               Algeria
3                                Angola
4                   Antigua and Barbuda
..                                  ...
193  Venezuela (Bolivarian Republic of)
194                            Viet Nam
195                               Yemen
196                              Zambia
197                            Zimbabwe

[198 rows x 1 columns]

In [24]:
ctry_geojson

,gu_a3,geounit,name_en,formal_en
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan
1,WSB,Akrotiri Sovereign Base Area,Akrotiri Sovereign Base Area,NaN
2,ALD,Aland,Åland,Åland Islands
3,ALB,Albania,Albania,Republic of Albania
4,DZA,Algeria,Algeria,People's Democratic Republic of Algeria
...,...,...,...,...
253,WLF,Wallis and Futuna,Wallis and Futuna,Wallis and Futuna Islands
254,SAH,Western Sahara,Western Sahara,Sahrawi Arab Democratic Republic
255,YEM,Yemen,Yemen,Republic of Yemen
256,ZMB,Zambia,Zambia,Republic of Zambia
257,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe

In [55]:
merge = pd.merge(ctry_faostat,ctry_geojson, on="geounit", how="left", indicator=True)

In [56]:
merge

,geounit,gu_a3,name_en,formal_en,_merge
0,Afghanistan,AFG,Afghanistan,Islamic State of Afghanistan,both
1,Albania,ALB,Albania,Republic of Albania,both
2,Algeria,DZA,Algeria,People's Democratic Republic of Algeria,both
3,Angola,AGO,Angola,People's Republic of Angola,both
4,Antigua and Barbuda,ATG,Antigua and Barbuda,Antigua and Barbuda,both
...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),NaN,NaN,NaN,left_only
194,Viet Nam,NaN,NaN,NaN,left_only
195,Yemen,YEM,Yemen,Republic of Yemen,both
196,Zambia,ZMB,Zambia,Republic of Zambia,both
197,Zimbabwe,ZWE,Zimbabwe,Republic of Zimbabwe,both

In [62]:
merge.loc[merge._merge=='left_only']

,geounit,gu_a3,name_en,formal_en,_merge
10,Bahamas,NaN,NaN,NaN,left_only
19,Bolivia (Plurinational State of),NaN,NaN,NaN,left_only
23,Brunei Darussalam,NaN,NaN,NaN,left_only
34,"China, Hong Kong SAR",NaN,NaN,NaN,left_only
35,"China, Taiwan Province of",NaN,NaN,NaN,left_only
36,"China, mainland",NaN,NaN,NaN,left_only
39,Congo,NaN,NaN,NaN,left_only
46,Côte d'Ivoire,NaN,NaN,NaN,left_only
47,Democratic People's Republic of Korea,NaN,NaN,NaN,left_only
65,French Guiana,NaN,NaN,NaN,left_only
74,Guadeloupe,NaN,NaN,NaN,left_only
85,Iran (Islamic Republic of),NaN,NaN,NaN,left_only
97,Lao People's Democratic Republic,NaN,NaN,NaN,left_only
111,Martinique,NaN,NaN,NaN,left_only
115,Micronesia (Federated States of),NaN,NaN,NaN,left_only
124,Netherlands (Kingdom of the),NaN,NaN,NaN,left_only
145,Republic of Korea,NaN,NaN,NaN,left_only
146,Republic of Moldova,NaN,NaN,NaN,left_only
148,Russian Federation,NaN,NaN,NaN,left_only
150,Réunion,NaN,NaN,NaN,left_only
155,Sao Tome and Principe,NaN,NaN,NaN,left_only
158,Serbia,NaN,NaN,NaN,left_only
174,Syrian Arab Republic,NaN,NaN,NaN,left_only
177,Timor-Leste,NaN,NaN,NaN,left_only
183,Türkiye,NaN,NaN,NaN,left_only
187,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,left_only
188,United Republic of Tanzania,NaN,NaN,NaN,left_only
193,Venezuela (Bolivarian Republic of),NaN,NaN,NaN,left_only
194,Viet Nam,NaN,NaN,NaN,left_only

In [67]:
ctry_geojson.loc['Bolivia']

KeyError: 'Bolivia'