In [56]:
import os

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import country_converter as coco

In [58]:
# Load the Global Forest Watch dataset
file_path = './data/treecover_gain.csv'
tree_gain = pd.read_csv(file_path, low_memory=False)

# Display the first 10 rows of the dataset
tree_gain.head(10)

   iso  umd_tree_cover_gain__ha  umd_tree_cover_extent_2000__ha
0  ABW             1.923964e+01                    1.819751e+04
1  AFG             1.074102e+04                    6.438572e+07
2  AGO             1.224126e+06                    1.247423e+08
3  AIA             6.988141e+01                    8.332248e+03
4  ALA             2.582831e+03                    1.506433e+05
5  ALB             1.647216e+04                    2.873537e+06
6  AND             1.200824e+02                    4.519641e+04
7  ARE             5.959530e+02                    7.120448e+06
8  ARG             1.107735e+06                    2.780101e+08
9  ARM             1.225593e+04                    2.969009e+06

In [59]:
iso3_codes = tree_gain['iso']
country = coco.convert(names=iso3_codes, to='name_short')
print(country)

XAD not found in ISO3
XCA not found in ISO3
XCL not found in ISO3
XKO not found in ISO3
XNC not found in ISO3
XPI not found in ISO3
XSP not found in ISO3

['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Aland Islands', 'Albania', 'Andorra', 'United Arab Emirates', 'Argentina', 'Armenia', 'French Southern Territories', 'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Bonaire, Saint Eustatius and Saba', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina', 'St. Barths', 'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Switzerland', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'DR Congo', 'Congo Republic', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands', 'France', 'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala', 'French Guiana', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis', 'South Korea', 'Kuwait', 'Laos', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Macau', 'Saint-Martin', 'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania', 'Montserrat', 'Martinique', 'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia', 'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland', 'Puerto Rico', 'North Korea', 'Portugal', 'Paraguay', 'Palestine', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Svalbard and Jan Mayen Islands', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'St. Pierre and Miquelon', 'Serbia', 'South Sudan', 'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Eswatini', 'Sint Maarten', 'Seychelles', 'Syria', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Trinidad and Tobago', 'Tunisia', 'TÃ¼rkiye', 'Tuvalu', 'Taiwan', 'Tanzania', 'Uganda', 'Ukraine', 'United States Minor Outlying Islands', 'Uruguay', 'United States', 'Uzbekistan', 'Vatican', 'St. Vincent and the Grenadines', 'Venezuela', 'British Virgin Islands', 'United States Virgin Islands', 'Vietnam', 'Vanuatu', 'not found', 'not found', 'not found', 'not found', 'not found', 'not found', 'not found', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe']

In [67]:
# Add the new countries column to the tree_gain DataFrame
tree_gain['country'] = country

# Reorder columns to make 'countries' the first column
columns_order = ['country'] + [col for col in tree_gain.columns if col != 'country']
tree_gain = tree_gain[columns_order]
tree_gain

,country,iso,umd_tree_cover_gain__ha,umd_tree_cover_extent_2000__ha
0,Aruba,ABW,1.923964e+01,1.819751e+04
1,Afghanistan,AFG,1.074102e+04,6.438572e+07
2,Angola,AGO,1.224126e+06,1.247423e+08
3,Anguilla,AIA,6.988141e+01,8.332248e+03
4,Aland Islands,ALA,2.582831e+03,1.506433e+05
...,...,...,...,...
231,not found,XSP,0.000000e+00,1.881529e+02
232,Yemen,YEM,7.046677e+03,4.522090e+07
233,South Africa,ZAF,3.882409e+05,1.219710e+08
234,Zambia,ZMB,7.681568e+05,7.504920e+07
235,Zimbabwe,ZWE,1.519891e+05,3.906811e+07

In [68]:
# Rename the column
tree_gain_edit = tree_gain.rename(columns={'umd_tree_cover_gain__ha': 'tree_cover_gain_1000_ha'})

# Divide the entire column by 1,000,000,000 to convert to billions
tree_gain_edit['tree_cover_gain_1000_ha'] /= 1000

# Convert the 'tree_cover_gain_b' column to standard decimal format (not scientific notation)
tree_gain_edit['tree_cover_gain_1000_ha'] = tree_gain_edit['tree_cover_gain_1000_ha'].map(lambda x: f"{x:.6f}").astype(float)

tree_gain_edit.head()

         country  iso  tree_cover_gain_1000_ha  umd_tree_cover_extent_2000__ha
0          Aruba  ABW                 0.019240                    1.819751e+04
1    Afghanistan  AFG                10.741024                    6.438572e+07
2         Angola  AGO              1224.126467                    1.247423e+08
3       Anguilla  AIA                 0.069881                    8.332248e+03
4  Aland Islands  ALA                 2.582831                    1.506433e+05

In [69]:
tree_gain_edit.describe()

       tree_cover_gain_1000_ha  umd_tree_cover_extent_2000__ha
count               236.000000                    2.360000e+02
mean                554.468964                    5.624822e+07
std                2893.601691                    1.732306e+08
min                   0.000000                    4.990083e+01
25%                   0.346805                    3.130941e+05
50%                  19.157199                    7.666780e+06
75%                 209.625047                    3.929075e+07
max               37220.539179                    1.689455e+09

In [70]:
output_dir = 'data'

# Export the DataFrame to a CSV file
tree_gain_edit.to_csv(os.path.join(output_dir, 'tree_gain_clean.csv'), index=False)